<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カルドセプト管理システム</title>
    <link rel="stylesheet" href="/public/css/style.css"> </head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h1 style="font-size: 3em;">Culdcept Manager</h1>
        <p style="font-size: 1em; font-weight: bold; margin: 0;">セプターのためのデータ管理システム</p>
        

<div style="display: flex; justify-content: center; align-items: center; gap: 20px; margin-top: 30px; margin-bottom: 60px; flex-wrap: wrap;">
            
    
            <img src="/public/images/ho-pu.jpg" alt="ホープ" style="height: 250px; width: auto; object-fit: contain;">
            <ul style="list-style: none; padding: 0; margin: 0;">
                <li style="margin: 20px;">
                    <a href="/creatures" class="btn" style="font-size: 1.5em; width: 300px; color: black; background: white;">クリーチャー図鑑</a>
                </li>
                <li style="margin: 20px;">
                    <a href="/maps" class="btn" style="font-size: 1.5em; width: 300px; color: black; background: white;">マップ攻略メモ</a>
                </li>
                <li style="margin: 20px;">
                    <a href="/reviews" class="btn" style="font-size: 1.5em; width: 300px; color: black; background: white;">歴代作レビュー</a>
                </li>
            </ul>
            <img src="/public/images/deko.jpg" alt="デコイ" style="height: 250px; width: auto; object-fit: contain;">
        </div>

        <hr>

        <div>
        <p class="history-title">- History of Culdcept -</p>
        <div class="console-list">            <img src="/public/images/SEGA Saturn.jpg" alt="SS" style="height: 80px; border-radius: 4px; border: 1px solid #555;">
            <img src="/public/images/PlayStation.webp" alt="PS1" style="height: 80px; border-radius: 4px; border: 1px solid #555;">
            <img src="/public/images/Dreamcast.jpg" alt="DC" style="height: 80px; border-radius: 4px; border: 1px solid #555;">
            <img src="/public/images/PlayStation 2.avif" alt="PS2" style="height: 80px; border-radius: 4px; border: 1px solid #555;">
            <img src="/public/images/saga.jpg" alt="Saga" style="height: 80px; border-radius: 4px; border: 1px solid #555;">            
            <img src="/public/images/DS.jpg" alt="DS" style="height: 80px; border-radius: 4px; border: 1px solid #555;">
            <img src="/public/images/3DS.webp" alt="3DS" style="height: 80px; border-radius: 4px; border: 1px solid #555;">
            <img src="/public/images/ribo.jpg" alt="Revolt" style="height: 80px; border-radius: 4px; border: 1px solid #555;">
        </div>
    </div>
</body>
</html>